.container {
  display: flex;
  flex-direction: row; 
  padding: 50px;
  align-items: flex-start; 
}

.contentContainer {
  display: flex;
  width: 100%;
}

.content {
  flex: 1; 
  margin-right: 20px;
}

.title {
  text-align: left;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 1.5;
}

.section {
  display: flex;
  margin-bottom: 20px;
  align-items: flex-start; 
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 3px solid #00aaff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #00aaff;
  border-radius: 50%;
}

.textContent {
  flex: 1;
}

.heading {
  margin-top: 0;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.paragraph {
  line-height: 1.5;
}

.image {
  border-radius: 3%;
  width: 100%;
  max-width: 750px;
  height: auto;          
  max-height: 550px;     
  object-fit: cover; 
}