.mainHead{
  margin:auto;
  color:#0a0a0a;
}
.inquiry {
  max-width: 450px;
  background-color: #426cb5;
  padding: 20px;
  border-radius: 8px;
  margin: 20px auto;
}

.inquiry label {
  font-size: 16px;
  color: #333;
}

.inquiry input {
  width: 100%;
  padding: 8px;
  margin: 10px 0px;
  border: 2px solid #007BFF;
  border-radius: 4px;
}

.inquiry button {
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
